.cards {
  display: flex;
  flex-wrap: wrap;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  padding: 16px;
  text-align: center;
  background-color: #f1f1f1;
  content: '';
  display: table;
  clear: both;
}

.row {
  display: flex;
  flex-wrap: wrap;
  border-radius: 50px;
}

.image {
  width: 100%;
  display: block;
  margin-bottom: 20px;
  border-radius: 10px;
}
