.cards {
  display: flex;
  flex-wrap: wrap;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  padding: 16px;
  text-align: center;
  background-color: #f7f7f7f5;
  content: '';
  clear: both;
}

.row {
  display: flex;
  margin-right: 5rem;
  margin-left: 5rem;
  margin-bottom: 5rem;
  border-radius: 50px;
  column-gap: 5rem;
}

.image {
  width: 70%;
  display: ruby;
  margin-bottom: 10px;
  border-radius: 10px;
  padding: 26px;
  box-shadow: 4px 8px 12px 0 rgba(0, 0, 0, 0.2);
  background-color: #d2ced3f5;
}

.button {
  border-radius: 5px;
  padding: 10px 20px;
}
